.container {
    background-color: white;
}

.header {
    color: #000;
    font-family: Campton;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 134.906%;
}

.text{
    color: #787878;
font-family: Campton;
font-size: 24px;
font-size: 110%;
font-style: normal;
font-weight: 400;
line-height: 134.906%;

}

.value{
    color: #787878;
font-family: Campton;
// font-size: 40px;
font-size: 150%;
font-style: normal;
font-weight: 700;
line-height: 134.906%;
}

.transaction{

    color: #000;
font-family: Campton;
// font-size: 24px;
font-size: 140%;
font-style: normal;
font-weight: 500;
line-height: 134.906%;
}

.thead{
    color: #000;
font-family: Campton;
font-size: 20px;
font-size: 110%;
font-style: normal;
font-weight: 500;
line-height: 134.906%;
}

.hbgc{
    background-color: #E8E8E8;
}

.credit{
    color: #007B2A;
}

.debit{
    color: red;
}

.tdate{
    color: #000;
    font-family: Campton;
    // font-size: 20px;
    font-size: 110%;
    font-style: normal;
    font-weight: 500;
    line-height: 134.906%;
}

 tr{
    border-color: black;
}

.data{
    color: #161616;
font-family: Campton;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 134.906%;
}

button{
    border: none;
    background: inherit;
    padding : 0px;
}