.navbar{
    background-color: black;
}

.navbar-brand {
    color: #FFF;
    // font-size: 25px;
    font-size: 140%;
    font-family: Quicksand;
    font-weight: 600;
    line-height: 134.906%;
}

.nav-link {

    color: #FFF;
    // font-size: 20px;
    font-size: 110%;
    font-family: Campton;
    font-weight: 400;
    // margin: 6px;
    // line-height: 134.906%;
}


.active {
    font-weight: 600;
    background-color: rgb(79, 76, 76);
}

.nav-icon {
    margin-left: 330px;
}

.nav-hr {
    opacity: 1;
    margin: 0px;
}