<div class="container">
    <div class="row">
        <h1 class="maintain mt-3 ms-1">Maintenance</h1>
        <ul class="list-inline">
            <li class="list-inline-item mb-3" *ngFor="let t of alltenants;">
                <button class="btn btn-default" (click)="getproductinfo(t)"> <!---->
                    <div class="card">
                        <img src="{{t.img}}" class="img-fluid" alt="property image.jpg">
                        <div class="px-1 pb-2 pdetails text-start">
                            <p>{{t.name}}</p>
                            <p>Contact : <br><span class="pvalue">{{t.contact}}</span></p>
                            <p>Lease Details: <br><span class="pvalue">{{t.lease_details}}</span></p>
                            <p>Outstanding Payment :<br><span class="pvalue">{{t.ospayment}}</span></p>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>