<div class="container pdetails">
    <div class="row">
      <div class="col-6"><img src="{{property.pimg}}" class="mx-3 my-3 ps-5 pe-5 py-5 img-fluid img-thumbnail rounded" alt=""></div>
      <div class="col-6">
        <div class="my-4 pdetails">
          <p>Property Name <span class="pvalue">{{property.name}}</span></p>
          <p>Address: <br><span class="pvalue">{{property.address.street_name}}, {{property.address.city}},
              {{property.address.state}}, {{property.address.Zip_Code}}</span></p>
          <p>Current Status: <br><span class="{{property.status}}">{{property.status}}</span></p>

          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary px-5" routerLink="../../" routerLinkActive="active">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>