<div class="bgimg">
    <div class="container">
        <nav class="navbar navbar-expand-lg sticky-top ps-3">
            <a class="navbar-brand" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i>PROPSMART</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" data-toggle="tab" routerLink="/home">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-toggle="tab" routerLink="/managing">Property Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-toggle="tab" routerLink="/tenant">Tenants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-toggle="tab" routerLink="/maintenance">Maintenance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-toggle="tab" routerLink="/finance">Financial</a>
                    </li>
                    <a class="nav-item text-white" href="###">
                        <span class="nav-link nav-icon">
                            <i class="fa fa-search mx-3" aria-hidden="true"></i>
                            <i class="fa fa-bell-o mx-3" aria-hidden="true"></i>
                            <i class="fa fa-user-o mx-3" aria-hidden="true"></i>
                        </span>
                    </a>
                </ul>
            </div>
        </nav>
        <hr class="text-white nav-hr" style="opacity:1">
        <div class="text-white text-end mt-5 cdate">
            Jun 01,2023 - Jun 05,2023
        </div>
        <div class="ms-3">
            <span class="greet">Welcome back,Admin</span><br>
            <span class="subtext">Simplify Property Management: Efficient, Reliable, and Hassle-free.</span>
        </div>
        <div class="row mt-5 ms-3">
            <div class="d-flex justify-content-between">
                <div class="bd-highlight">
                    <div class="property">Total Income <i class="fa fa-location-arrow ms-2" aria-hidden="true"></i>
                    </div>
                    <p class="value">$-20,000</p>
                </div>
                <div class="bd-highlight">
                    <div class="property">Outstanding payment <i class="fa fa-location-arrow ms-2"
                            aria-hidden="true"></i></div>
                    <p class="value">$-5000</p>
                </div>
                <div class="bd-highlight">
                    <div class="property">No. of Properties <i class="fa fa-location-arrow ms-2" aria-hidden="true">
                        </i></div>
                    <p class="value">20</p>
                </div>
                <div class="bd-highlight">
                    <div class="property">Total no. of Tenants <i class="fa fa-location-arrow ms-2"
                            aria-hidden="true"></i></div>
                    <p class="value">20</p>
                </div>
                <div class="bd-highlight">
                    <div class="property">Maintenance Request <i class="fa fa-location-arrow ms-2"
                            aria-hidden="true"></i></div>
                    <p class="value">10</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <ul class="list-inline mt-2 ms-3">
                <li class="list-inline-item" *ngFor="let property of allproperties; let i=index">
                    <div *ngIf="i<=4">
                        <button class="btn btn-default" (click)="getproduct(property.id)">
                            <div class="card">
                                <img src="{{property.img}}" class="img-fluid" alt="property image.jpg">
                                <div class="px-2 pb-4 pdetails text-start">
                                    <p>Property Name {{property.name}}</p>
                                    <p>Current Sattus : <br><span class="pstatus">{{property.status}}</span></p>
                                </div>
                            </div>
                        </button>
                        <!-- <a [routerLink]="['/propertydetails',property.id]" routerLinkActive="active">
                            <div class="card">
                                <img src="{{property.img}}" class="img-fluid" alt="property image.jpg">
                                <div class="px-2 pb-4 pdetails text-start">
                                    <p>Property Name {{property.name}}</p>
                                    <p>Current Sattus : <br><span class="pstatus">{{property.status}}</span></p>
                                </div>
                            </div>
                        </a> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>